@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: rgba(255, 255, 255, 0.675);
  --dark-color: black;
  --secondary-color: #c5dddd;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8fbeba;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.p-5 {
  padding: 5px;
}

.bg-dark {
  background-color: #c8d7d6;
}

.gap-50 {
  gap: 100px;
}

.p-50 {
  padding: 50px;
}

.wrap {
  flex-wrap: wrap;
}

.navbar a,
.navbar h3 {
  text-decoration: none;
  font-size: 30px;
  font-style: italic;
}

.navbar h3 i {
  font-size: 30px;
  padding-top: 10px;
  padding-right: 950px;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3deg);
  }
}

.logo {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.product-card {
  background-color: var(--primary-color);
  width: 200px;
  text-align: center;
  padding: 15px 5px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}

.w-150 {
  width: 150px;
}

.w-300 {
  width: 300px;
}

.h-40 {
  height: 40px;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.filters {
  padding-top: 50px;
}

.colors {
  padding-left: 10px;
}

.badge {
  border-radius: 10px;
  width: 60px;
  background-color: #f1e5d1;
  padding: 10px 5px;
}

.w-100 {
  width: 100px;
}

#search {
  display: grid;
  grid-area: search;
  grid-template:
    "search" 250px
    / 250px;

  justify-items: stretch;
  align-items: stretch;
  background: hsl(0, 0%, 99%);
  top: 10px;
  background-color: #8fbeba;
  height: 50px;
  width: 1000px;
}

#search input {
  display: block;
  grid-area: search;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: none;
  padding: 20px;
  border: none;
  border-radius: 100px;
  font: 24px/1 system-ui, sans-serif;
  outline-offset: -8px;
}

#search svg {
  grid-area: search;
  overflow: visible;
  color: black(215, 100%, 50%);
  fill: none;
  stroke: currentColor;
}

.spark {
  fill: currentColor;
  stroke: none;
  r: 15;
}

.spark:nth-child(1) {
  animation: spark-radius 2.03s 1s both, spark-one-motion 2s 1s both;
}

@keyframes spark-radius {
  0% {
    r: 0;
    animation-timing-function: cubic-bezier(0, 0.3, 0, 1.57);
  }
  30% {
    r: 15;
    animation-timing-function: cubic-bezier(1, -0.39, 0.68, 1.04);
  }
  95% {
    r: 8;
  }
  99% {
    r: 10;
  }
  99.99% {
    r: 7;
  }
  100% {
    r: 0;
  }
}

@keyframes spark-one-motion {
  0% {
    transform: translate(-20%, 50%);
    animation-timing-function: cubic-bezier(0.63, 0.88, 0, 1.25);
  }
  20% {
    transform: rotate(-0deg) translate(0%, -50%);
    animation-timing-function: ease-in;
  }
  80% {
    transform: rotate(-230deg) translateX(-20%) rotate(-100deg) translateX(15%);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(-360deg) translate(30px, 100%);
    animation-timing-function: cubic-bezier(0.64, 0.66, 0, 0.51);
  }
}

.spark:nth-child(2) {
  animation: spark-radius 2.03s 1s both, spark-two-motion 2.03s 1s both;
}

@keyframes spark-two-motion {
  0% {
    transform: translate(120%, 50%) rotate(-70deg) translateY(0%);
    animation-timing-function: cubic-bezier(0.36, 0.18, 0.94, 0.55);
  }
  20% {
    transform: translate(90%, -80%) rotate(60deg) translateY(-80%);
    animation-timing-function: cubic-bezier(0.16, 0.77, 1, 0.4);
  }
  40% {
    transform: translate(110%, -50%) rotate(-30deg) translateY(-120%);
    animation-timing-function: linear;
  }
  70% {
    transform: translate(100%, -50%) rotate(120deg) translateY(-100%);
    animation-timing-function: linear;
  }
  80% {
    transform: translate(95%, 50%) rotate(80deg) translateY(-150%);
    animation-timing-function: cubic-bezier(0.64, 0.66, 0, 0.51);
  }
  100% {
    transform: translate(100%, 50%) rotate(120deg) translateY(0%);
  }
}

.spark:nth-child(3) {
  animation: spark-radius 2.05s 1s both, spark-three-motion 2.03s 1s both;
}

@keyframes spark-three-motion {
  0% {
    transform: translate(50%, 100%) rotate(-40deg) translateX(0%);
    animation-timing-function: cubic-bezier(0.62, 0.56, 1, 0.54);
  }
  30% {
    transform: translate(40%, 70%) rotate(20deg) translateX(20%);
    animation-timing-function: cubic-bezier(0, 0.21, 0.88, 0.46);
  }
  40% {
    transform: translate(65%, 20%) rotate(-50deg) translateX(15%);
    animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62);
  }
  60% {
    transform: translate(60%, -40%) rotate(-50deg) translateX(20%);
    animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62);
  }
  70% {
    transform: translate(70%, -0%) rotate(-180deg) translateX(20%);
    animation-timing-function: cubic-bezier(0.15, 0.48, 0.76, 0.26);
  }
  100% {
    transform: translate(70%, -0%) rotate(-360deg) translateX(0%) rotate(180deg)
      translateX(20%);
  }
}

.burst {
  stroke-width: 3;
}

.burst :nth-child(2n) {
  color: #ff783e;
}
.burst :nth-child(3n) {
  color: #ffab00;
}
.burst :nth-child(4n) {
  color: #55e214;
}
.burst :nth-child(5n) {
  color: #82d9f5;
}

.circle {
  r: 6;
}

.rect {
  width: 10px;
  height: 10px;
}

.triangle {
  d: path("M0,-6 L7,6 L-7,6 Z");
  stroke-linejoin: round;
}

.plus {
  d: path("M0,-5 L0,5 M-5,0L 5,0");
  stroke-linecap: round;
}

.burst:nth-child(4) {
  transform: translate(30px, 100%) rotate(150deg);
}

.burst:nth-child(5) {
  transform: translate(50%, 0%) rotate(-20deg);
}

.burst:nth-child(6) {
  transform: translate(100%, 50%) rotate(75deg);
}

.burst * {
}

@keyframes particle-fade {
  0%,
  100% {
    opacity: 0;
  }
  5%,
  80% {
    opacity: 1;
  }
}

.burst :nth-child(1) {
  animation: particle-fade 600ms 2.95s both, particle-one-move 600ms 2.95s both;
}
.burst :nth-child(2) {
  animation: particle-fade 600ms 2.95s both, particle-two-move 600ms 2.95s both;
}
.burst :nth-child(3) {
  animation: particle-fade 600ms 2.95s both,
    particle-three-move 600ms 2.95s both;
}
.burst :nth-child(4) {
  animation: particle-fade 600ms 2.95s both, particle-four-move 600ms 2.95s both;
}
.burst :nth-child(5) {
  animation: particle-fade 600ms 2.95s both, particle-five-move 600ms 2.95s both;
}
.burst :nth-child(6) {
  animation: particle-fade 600ms 2.95s both, particle-six-move 600ms 2.95s both;
}

@keyframes particle-one-move {
  0% {
    transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001);
  }
  100% {
    transform: rotate(-20deg) translateX(8%) scale(0.5, 0.5);
  }
}
@keyframes particle-two-move {
  0% {
    transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001);
  }
  100% {
    transform: rotate(0deg) translateX(8%) scale(0.5, 0.5);
  }
}
@keyframes particle-three-move {
  0% {
    transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001);
  }
  100% {
    transform: rotate(20deg) translateX(8%) scale(0.5, 0.5);
  }
}
@keyframes particle-four-move {
  0% {
    transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001);
  }
  100% {
    transform: rotate(-35deg) translateX(12%);
  }
}
@keyframes particle-five-move {
  0% {
    transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001);
  }
  100% {
    transform: rotate(0deg) translateX(12%);
  }
}
@keyframes particle-six-move {
  0% {
    transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001);
  }
  100% {
    transform: rotate(35deg) translateX(12%);
  }
}

.bar {
  width: 100%;
  height: 100%;
  ry: 50%;
  stroke-width: 10;
  animation: bar-in 900ms 3s both;
}

@keyframes bar-in {
  0% {
    stroke-dasharray: 0 180 0 226 0 405 0 0;
  }
  100% {
    stroke-dasharray: 0 0 181 0 227 0 405 0;
  }
}

.magnifier {
  animation: magnifier-in 600ms 3.6s both;
  transform-box: fill-box;
}

@keyframes magnifier-in {
  0% {
    transform: translate(20px, 8px) rotate(-45deg) scale(0.01, 0.01);
  }
  50% {
    transform: translate(-4px, 8px) rotate(-45deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.magnifier .glass {
  cx: 27;
  cy: 27;
  r: 8;
  stroke-width: 3;
}
.magnifier .handle {
  x1: 32;
  y1: 32;
  x2: 44;
  y2: 44;
  stroke-width: 3;
}

#results {
  grid-area: results;
  background: hsl(0, 0%, 95%);
}
.index-page h3 a:first-of-type {
  font-weight: bold;
  position: absolute;
  left: 450px;
  font-size: 35px;
  top: 0px;
}
.fa-solid {
  font-size: 50px;
}
.add-to-cart {
  background-color: #38699e;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
button.details {
  background-color: #adbccb;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}
img {
  width: 90px; /* Set to your desired width */
  height: 90px; /* Set to your desired height */
  object-fit: cover; /* Ensures images cover the area without distortion */
}
.index-page .icon-link {
  position: absolute;
  left: 40px;
}
p {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: bolder;
}
a {
  color: black;
}
.index-html h1 {
  position: absolute;
  display: flex;
  bottom: 380px;
  right: 115px;
}
